/*Background*/
body {
  background-image: url(../images/background.png);
  background-size: cover;
}

/*Center the header*/
h2 {
  text-align: center;
}

/*Styles for images and names*/
.image-name,
.images {
  height: 300px;
  width: 300px;
  object-fit: contain;
  text-align: center;
}

/*Separate the rows*/
.rows {
  margin-bottom: 15px;
}

/*Green Border*/
.clicked {
  border: solid 10px green;
}

/*Red Border*/
.clicked_wrong {
  border: solid 10px red;
}

/*Links*/
#left {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

#right {
  float: right;
  padding-right: 10px;
  padding-top: 10px;
}

#left,
#right {
  display: inline;
}

/*Modal CSS*/
#myBtn {
  margin: 0 auto;
  display: block;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
